<div class="container">
    <div class="row">
        <% @power_generators_search.each do |power_generator| %>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
                            <h5 class="text-center card-title"><%= power_generator.name.upcase %></h5>
                            <h5 class="text-center card-price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></h5>
                            <p class="card-text">
                                <%= power_generator.description %>
                            </p>
                    </div>
                    <button type="button" class="btn btn-frete" data-toggle="modal" data-target="#modalExemplo">
                        Calcular Frete
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Calculo de Frete</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn-primary">Calcular</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
    </div>
</div>
<div class="container">

</div>